#container {
  height: 100%;
  width: 100%;
  display: flex;
}
#leftThing {
  width: 33%;
  background-color: white;
}
#content {
  width: 33%;
  background-color: white;
}
#rightThing {
  width: 34%;
  background-color: white;
}